.vscode
.idea
bin
vendor
.swp
*.out
devtools
.env
tmp
cmd/neutree-cli/app/cmd/launch/manifests/*.tar
out
neutree-deploy
__pycache__/

.air.toml
*.dev.yml

# Ignore vendir managed files
# kong plugins
deploy/docker/neutree-core/gateway
deploy/chart/neutree/gateway

# grafana dashboards
deploy/docker/obs-stack/grafana/dashboards
deploy/chart/neutree/grafana-dashboards

# vmagent config files
deploy/docker/neutree-core/vmagent
deploy/chart/neutree/vmagent

scripts/dashboard/ray-upstream
scripts/dashboard/vllm-upstream
scripts/dashboard/output

cluster-image-builder/downloader
scripts/builder/dist
