global:
  scrape_interval: 30s # Set the scrape interval to every 30 seconds. Default is every 1 minute.

scrape_configs:
# Scrape from each Ray node as defined in the service_discovery.json provided by Ray.
- job_name: 'neutree'
  file_sd_configs:
  - files:
    - '/etc/prometheus/scrape/*.json'

# Ray use applicationName as application label value in metrics.
# it cause the ui can not show the dashboard correctly.
# So we use relabeling to change it to "endpointName".
  metric_relabel_configs:
    - source_labels: [application]
      target_label: application_original
      regex: '(.+)'
      replacement: '$1'
    - source_labels: [application]
      regex: '([^_]+)_(.+)'
      target_label: application
      replacement: '$2'