{{- if .Values.grafana.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  labels:
    {{- include "neutree.labels" . | nindent 4 }}
data:
  datasources.yaml: |
      apiVersion: 1
      datasources:
      - name: neutree-cluster
        type: prometheus
        url: http://{{ include "neutree.fullname" . }}-victoria-metrics-cluster-vmselect:8481/select/0/prometheus
        isDefault: true
        jsonData:
          prometheusType: Prometheus
          prometheusVersion: 2.24.0

{{- end }}