apiVersion: v1
data:
{{ (.Files.Glob "gateway/kong/plugins/neutree-ai-statistics/*").AsConfig | indent 2 }}
kind: ConfigMap
metadata:
  labels:
    {{- include "neutree.labels" . | nindent 4 }}
  name: neutree-ai-statistics
