apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "neutree.fullname" . }}-migration-job-{{ .Release.Revision }}
  labels:
    {{- include "neutree.labels" . | nindent 4 }}
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 20
  template:
    metadata:
      labels:
        app.kubernetes.io/component: neutree-migration
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "neutree.fullname" . }}-sa
      initContainers:
        - name: wait-postgresql
          image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.k8sWaitFor.image.registry "repository" .Values.k8sWaitFor.image.repository "tag" .Values.k8sWaitFor.image.tag "defaultTag" .Values.k8sWaitFor.image.tag) }}
          imagePullPolicy: {{ .Values.k8sWaitFor.image.pullPolicy }}
          args:
            - pod
            - -lapp.kubernetes.io/component=neutree-postgresql
        - name: wait-auth-service
          image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.k8sWaitFor.image.registry "repository" .Values.k8sWaitFor.image.repository "tag" .Values.k8sWaitFor.image.tag "defaultTag" .Values.k8sWaitFor.image.tag) }}
          imagePullPolicy: {{ .Values.k8sWaitFor.image.pullPolicy }}
          args:
            - pod
            - -lapp.kubernetes.io/component=neutree-auth
        - name: copy-migration-sql
          image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.dbScripts.image.registry "repository" .Values.dbScripts.image.repository "tag" .Values.dbScripts.image.tag "defaultTag" .Chart.AppVersion) }}
          imagePullPolicy: {{.Values.dbScripts.image.pullPolicy }}
          command: ["/bin/sh", "-c"]
          args:
            - "cp -r /db/migrations/* /migrations/"
          volumeMounts:
            - name: migrations
              mountPath: /migrations
      containers:
      - name: migration
        image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.migration.image.registry "repository" .Values.migration.image.repository "tag" .Values.migration.image.tag "defaultTag" .Values.migration.image.tag) }}
        imagePullPolicy: {{ .Values.migration.image.pullPolicy }}
        args:
          - -source=file://migrations
          - -database
          - "postgres://{{.Values.db.user }}:{{.Values.db.password }}@{{ include "neutree.fullname" . }}-postgresql-service:5432/{{.Values.db.name }}?sslmode=disable"
          - up
        volumeMounts:
          - name: migrations
            mountPath: /migrations
            readOnly: true
      volumes:
        - name: migrations
          emptyDir: {}
      restartPolicy: OnFailure