apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "neutree.fullname" . }}-api
  labels:
    {{- include "neutree.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.api.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/component: neutree-api
  template:
    metadata:
      labels:
        app.kubernetes.io/component: neutree-api
    spec:
      serviceAccountName: {{ include "neutree.fullname" . }}-sa
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: neutree-api
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          args:
            - --storage-access-url=http://{{ include "neutree.fullname" . }}-postgrest-service:6432
            - --storage-jwt-secret={{.Values.jwtSecret  }}
            - --host=0.0.0.0
            - --port=3000
            - --static-dir=./public
            - --gin-mode=release
            - --auth-endpoint=http://{{ include "neutree.fullname" . }}-auth-service:9999
            {{- if .Values.grafana.enabled }}
            - --grafana-url=http://{{ include "neutree.fullname" . }}-grafana:80
            {{- else if .Values.system.grafana.url }}
            - --grafana-url={{ .Values.system.grafana.url }}
            {{- end }}
            - --version={{ .Values.api.image.tag | default .Chart.AppVersion }}
            - --deploy-type=kubernetes
          image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.api.image.registry "repository" .Values.api.image.repository "tag" .Values.api.image.tag "defaultTag" .Chart.AppVersion) }}
          imagePullPolicy: {{ .Values.api.image.pullPolicy }}
          securityContext:
            privileged: true
            capabilities:
              add: ["SYS_ADMIN"]
            allowPrivilegeEscalation: true
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          {{- with .Values.api.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.api.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.api.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
