apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "neutree.fullname" . }}-core
  labels:
    {{- include "neutree.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: neutree-core
  template:
    metadata:
      labels:
        app.kubernetes.io/component: neutree-core
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "neutree.fullname" . }}-sa
      containers:
        - name: neutree-core
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          args:
            - --storage-access-url=http://{{ include "neutree.fullname" . }}-postgrest-service:6432
            - --storage-jwt-secret={{ include "neutree.jwtSecret" . }}
            - --controller-workers=5
            - --default-cluster-version=v1.0.0
            {{- if  index .Values "victoria-metrics-cluster" "enabled" }}
            - --metrics-remote-write-url=http://{{ include "neutree.fullname" . }}-victoria-metrics-cluster-vminsert:8480/insert/0/prometheus/
            {{- else if .Values.metrics.remoteWriteUrl }}
            - --metrics-remote-write-url={{ .Values.metrics.remoteWriteUrl }}
            {{- end }}
            - --kubernetes-metrics-collect-configmap=vmagent-scrape-config
            - --kubernetes-collect-config-namespace={{ .Release.Namespace}}
            - --gateway-type=kong
            - --gateway-proxy-url=http://{{ include "neutree.fullname" . }}-kong-proxy:80
            - --gateway-admin-url=http://{{ include "neutree.fullname" . }}-kong-admin:8001
            - --gateway-log-remote-write-url=http://{{ include "neutree.fullname" . }}-vector:30122
            - --auth-endpoint=http://{{ include "neutree.fullname" . }}-auth-service:9999
          image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.core.image.registry "repository" .Values.core.image.repository "tag" .Values.core.image.tag "defaultTag" .Chart.AppVersion) }}
          imagePullPolicy: {{ .Values.core.image.pullPolicy }}
          securityContext:
            privileged: true
            capabilities:
              add: ["SYS_ADMIN"]
            allowPrivilegeEscalation: true
          {{- with .Values.core.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 3001
              name: server
              protocol: TCP
      {{- with .Values.core.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.core.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.core.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
