apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "neutree.fullname" . }}-postgresql
  labels:
    {{- include "neutree.labels" . | nindent 4 }}
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: neutree-postgresql
  template:
    metadata:
      labels:
        app.kubernetes.io/component: neutree-postgresql
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        - name: copy-init-sql
          image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.dbScripts.image.registry "repository" .Values.dbScripts.image.repository "tag" .Values.dbScripts.image.tag "defaultTag" .Chart.AppVersion) }}
          imagePullPolicy: {{.Values.dbScripts.image.pullPolicy }}
          command: ["/bin/sh", "-c"]
          args:
            - "cp -r /db/init-scripts/* /docker-entrypoint-initdb.d/"
          volumeMounts:
            - name: postgresql-initdb
              mountPath: /docker-entrypoint-initdb.d
      containers:
        - name: neutree-postgresql
          env:
            - name: POSTGRES_DB
              value: {{.Values.db.name }}
            - name: POSTGRES_USER
              value: {{.Values.db.user }}
            - name: POSTGRES_PASSWORD
              value: {{.Values.db.password }}
          image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.db.image.registry "repository" .Values.db.image.repository "tag" .Values.db.image.tag "defaultTag" .Values.db.image.tag) }}
          imagePullPolicy: {{ .Values.db.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5432
              protocol: TCP
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - {{.Values.db.user }}
            initialDelaySeconds: 10
            periodSeconds: 2
            timeoutSeconds: 15
            failureThreshold: 10
          resources:
            {{- toYaml .Values.db.resources | nindent 12 }}
          volumeMounts:
            - name: postgresql-data
              mountPath: /var/lib/postgresql/data
              subPath: postgres-data
            - name: postgresql-initdb
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: postgresql-data
          persistentVolumeClaim:
            claimName: {{ include "neutree.fullname" . }}-postgresql-pvc
        - name: postgresql-initdb
          emptyDir: {}
      {{- with .Values.db.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.db.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.db.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
