apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "neutree.fullname" . }}-post-migration-hook-job-{{ .Release.Revision }}
  labels:
    {{- include "neutree.labels" . | nindent 4 }}
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 20
  template:
    metadata:
      labels:
        app.kubernetes.io/component: neutree-post-migration-hook-job
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "neutree.fullname" . }}-sa
      initContainers:
        - name: wait-postgresql
          image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.k8sWaitFor.image.registry "repository" .Values.k8sWaitFor.image.repository "tag" .Values.k8sWaitFor.image.tag "defaultTag" .Values.k8sWaitFor.image.tag) }}
          imagePullPolicy: {{ .Values.k8sWaitFor.image.pullPolicy }}
          args:
            - pod
            - -lapp.kubernetes.io/component=neutree-postgresql
        - name: wait-migration-job
          image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.k8sWaitFor.image.registry "repository" .Values.k8sWaitFor.image.repository "tag" .Values.k8sWaitFor.image.tag "defaultTag" .Values.k8sWaitFor.image.tag) }}
          imagePullPolicy: {{ .Values.k8sWaitFor.image.pullPolicy }}
          args:
            - job
            - {{ include "neutree.fullname" . }}-migration-job-{{ .Release.Revision }}
            - -n
            - {{ .Release.Namespace }}
        - name: copy-seed-sql
          image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.dbScripts.image.registry "repository" .Values.dbScripts.image.repository "tag" .Values.dbScripts.image.tag "defaultTag" .Chart.AppVersion) }}
          imagePullPolicy: {{.Values.dbScripts.image.pullPolicy }}
          command: ["/bin/sh", "-c"]
          args:
            - "cp -r /db/seed/* /seed/"
          volumeMounts:
            - name: seed
              mountPath: /seed
      containers:
      - name: post-migration-hook
        image: {{ include "neutree.image" (dict "global" .Values.global "componentRegistry" .Values.db.image.registry "repository" .Values.db.image.repository "tag" .Values.db.image.tag "defaultTag" .Values.db.image.tag) }}
        imagePullPolicy: IfNotPresent
        env:
          - name: PGOPTIONS
            value: "-c neutree.admin_password={{ .Values.adminPassword }}"
        command: ["bash", "-c"]
        args:
          - 'for file in $$(find /seed -name "*.sql" | sort); do echo "Executing seed file:" $$file; psql postgres://{{.Values.db.user }}:{{.Values.db.password }}@{{ include "neutree.fullname" .}}-postgresql-service:5432/{{.Values.db.name }}?sslmode=disable -f $$file || exit 1; done'
        volumeMounts:
          - name: seed
            mountPath: /seed
      volumes:
        - name: seed
          emptyDir: {}
      restartPolicy: OnFailure