global:
  scrape_interval: 30s # Set the scrape interval to every 30 seconds. Default is every 1 minute.

scrape_configs:
# Scrape from each Ray node as defined in the service_discovery.json provided by Ray.
- job_name: 'neutree'
  file_sd_configs:
  - files:
    - '/etc/prometheus/scrape/*.json'
  metric_relabel_configs:
  # Convert ray_vllm: prefix to vllm: prefix
  # ray_vllm:e2e_request_latency_seconds_bucket => vllm:e2e_request_latency_seconds_bucket
  - source_labels: [__name__]
    regex: ray_vllm:(.+)
    target_label: __name__
    replacement: vllm:$1