name: pull-request

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

jobs:
  pr-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.0"
        id: go
      - name: Configure git for private modules
        env:
          TOKEN: ${{ secrets.CI_ACCESS_TOKEN }}
          USERNAME: ${{ secrets.CI_USERNAME }}
        run: git config --global url."https://${USERNAME}:${TOKEN}@github.com".insteadOf "https://github.com"
      - name: Prepare for lint
        run: make prepare-build-cli
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.6
      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: 'v3.13.0'
      - name: Test
        run: make test

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1

      - name: Database Test
        run: make db-test
      - name: Build
        run: make build

      - name: Upload Coverage report to CodeCov
        uses: codecov/codecov-action@v1.0.15
        with:
          token: ${{secrets.CODECOV_UPLOAD_TOKEN}}
          file: ./coverage.out
