name: Daily Build

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  create_daily_tag:
    runs-on: ubuntu-latest
    name: Create Nightly Tag

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Configure Git
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
      - name: Create Nightly Tag
        id: create_nightly_tag
        run: |
          DATE=$(date +'%Y%m%d')
          git tag v1.0.1-nightly-$DATE -m v1.0.1-nightly-$DATE
          git push origin v1.0.1-nightly-$DATE
          echo "tag=v1.0.1-nightly-$DATE" >> $GITHUB_OUTPUT
      - name: Trigger Workflow
        uses: actions/github-script@v6
        env:
          NIGHTLY_UI_VERSION: ${{ secrets.NIGHTLY_UI_VERSION }}
          NIGHTLY_CLUSTER_VERSION: ${{ secrets.NIGHTLY_CLUSTER_VERSION }}
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'release.yaml',
              ref: 'main',
              inputs: {
                tag: '${{ steps.create_nightly_tag.outputs.tag }}',
                ui_version: '${{ env.NIGHTLY_UI_VERSION }}',
                cluster_version:'${{ env.NIGHTLY_CLUSTER_VERSION }}'
              },
            })
