name: release-neutree-runtime

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "the release tag (e.g : v0.1.0-nightly-20250405)"
        required: true
        type: string
      version:
        description: "the release version (e.g : 0.1.0)"
        required: true
        type: string
jobs:
  build-amd64-image:
    runs-on: ubuntu-22.04
    name: build amd64 image
    steps:
      - uses: actions/checkout@v2
      - name: Check out specific tag when manually triggered
        if: github.event_name == 'workflow_dispatch'
        run: git fetch --all && git checkout ${{ github.event.inputs.tag }}
      - name: Login docker
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.SERVE_IMAGE_REPO }}
          username: ${{ secrets.SERVE_IMAGE_PUSH_USERNAME }}
          password: ${{ secrets.SERVE_IMAGE_PUSH_TOKEN }}
      - name: build amd64 image
        run: export ARCH=amd64 VERSION=${{ github.event.inputs.version }}; make docker-build-runtime && make docker-push-runtime
        env:
          IMAGE_PROJECT: ${{ secrets.RELEASE_SERVE_IMAGE_PROJECT }}
          IMAGE_REPO: ${{ secrets.SERVE_IMAGE_REPO }}
  build-arm64-image:
    runs-on: ubuntu-22.04-arm
    name: build arm64 image
    steps:
      - uses: actions/checkout@v2
      - name: Check out specific tag when manually triggered
        if: github.event_name == 'workflow_dispatch'
        run: git fetch --all && git checkout ${{ github.event.inputs.tag }}
      - name: Login docker
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.SERVE_IMAGE_REPO }}
          username: ${{ secrets.SERVE_IMAGE_PUSH_USERNAME }}
          password: ${{ secrets.SERVE_IMAGE_PUSH_TOKEN }}
      - name: build arm64 image
        run: export ARCH=arm64 VERSION=${{ github.event.inputs.version }}; make docker-build-runtime && make docker-push-runtime
        env:
          IMAGE_PROJECT: ${{ secrets.RELEASE_SERVE_IMAGE_PROJECT }}
          IMAGE_REPO: ${{ secrets.SERVE_IMAGE_REPO }}
  push-manifests:
    runs-on: ubuntu-latest
    name: merge and push manifests
    needs:
      - build-amd64-image
      - build-arm64-image
    steps:
      - uses: actions/checkout@v2
      - name: Check out specific tag when manually triggered
        if: github.event_name == 'workflow_dispatch'
        run: git fetch --all && git checkout ${{ github.event.inputs.tag }}
      - name: Login docker
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.SERVE_IMAGE_REPO }}
          username: ${{ secrets.SERVE_IMAGE_PUSH_USERNAME }}
          password: ${{ secrets.SERVE_IMAGE_PUSH_TOKEN }}
      - name: push manifests
        run: export VERSION=${{ github.event.inputs.version }}; make docker-push-manifest-runtime
        env:
          IMAGE_PROJECT: ${{ secrets.RELEASE_SERVE_IMAGE_PROJECT }}
          IMAGE_REPO: ${{ secrets.SERVE_IMAGE_REPO }}
